{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    display: flex;
    flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .footer-block__details-content {
    display: flex;
    flex-direction: column;

  }

  .footer-block__details-content li {
    width: fit-content;
  }

  .footer__content-bottom-text{
    font-size: 1.4rem;
    opacity: 0.5;

  }

  .footer__pessimism-svg {
    margin: 2rem 0;
    text-align: center;
  }

  .footer__pessimism-svg img {
    max-width: 100%;
    height: 90px;
    max-height: 90px;
    transform: translateY(40px);
  }

  @media screen and (min-width: 750px) {
    .footer-block__details-content {
      flex-direction: row;
      gap: 1rem;
    }
    .footer {
      margin-top: {{ section.settings.margin_top }}px;

      flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- if section.blocks.size > 0 -%}
    <div class=" ">
      <div
        class="footer__blocks-wrapper footer__blocks-flex{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
        {% endif %}
      >
        {%- for block in section.blocks -%}
          {%- if block.type == 'link_list' -%}
            <div
              class="footer-block footer-block--menu{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {%- if block.settings.menu != blank -%}
                <ul class="footer-block__details-content list-unstyled">
                  {%- for link in block.settings.menu.links -%}
                    <li>
                      <a
                        href="{{ link.url }}"
                        class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                      >
                        {{ link.title | escape }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}

  <div class="footer__pessimism-svg">
    {{ 'pessimism.svg' | asset_url | img_tag: alt: 'Pessimism by Antonio Gramsci' }}
  </div>

  <div class="">
    <div class="footer__content-bottom-wrapper">
      <div class="footer__content-bottom-wrapper-left">
        <p class="footer__content-bottom-text">©032c System GmbH</p>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
